<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Salut <%= @user.first_name %> et merci pour la participation !</h1>

    <p>
      Tu embarque pour une fiesta qui restera dans les annales. 
    
      On réunis du monde pour nos 25 ans et on a vraiment hâte d'y être ! 
      
      Voici quelques infos pratiques :
    </p>
    <br>

    <p>Adress exacte de l'évènement => 24 rue moncul, commune de ouais ouais.</p>
    
    <p>Numero de JB => 0123456789</p>
    
    <p>Numero de Thomas => 0987654321</p>
    <br>
    
    <p>Si tu as des questions n'hésite pas à nous envoyer un message.</p>
    
    <p> On t'attend le jour J avec ta bonne humeur et un bon chandaille !</p>
    <br>

    <p>Bise à toi <%= @user.firts_name %>, <br><br> Jib et Thomas</p>

    <p>
    <small>PS : On compte sur toi pour être clean niveau COVID donc soit vacciné si t'as pas peur de la 5G, soit un petit teste 48H avant l'évênement si t'as pas peur des chatouilles nasopharyngées.</small>
    </p>

  </body>
</html>