<header>
    <a class="logo" href="#">JB 'n' T</a>
    <nav>
        <ul class="nav__links">
            <li><a href="#">Services</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Anniv</a></li>
        </ul>
    </nav>
    <a class="cta" href="#"><button>Contact</button></a>
</header>